@page
@model PrivacyModel
@{
    ViewData["Title"] = "Informacje";
}

<div class="info-container">

    <h1>@ViewData["Title"]</h1>
    <br />
    <p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
    <p>Autor: Paweł Dziuba</p>
    <br />
    <p>Mapa typu torus.</p>
    <p>Sekwencja ruchów: rlrludlruddurlr.</p>
    <br />
    <img src="creatures/logo.png" alt="logo" />

</div>
