@page
@model PrivacyModel
@{
    ViewData["Title"] = "Informacje";
}

<div class="info-container">

    <h1>@ViewData["Title"]</h1>
    <br />
    <p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages. <br />Strona została rozbudowana o możliwość importowania i exportowania symulacji w formacie plików JSON.</p>
    <p>Autorzy: Paweł Dziuba, Robert Gevorgyan</p>
    <br />
    <p>Mapa typu torus.</p>
    <p>Sekwencja ruchów: rlrludlruddurlr.</p>
    <br />
    <img src="creatures/logo.png" alt="logo" />

</div>
