<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimWeb</title>
    <link rel="stylesheet" href="~/css/site.css" 
        asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <h1>SimWeb</h1>
        <nav>
            <a asp-area="" asp-page="/Index">Symulacja</a>
            <a asp-area="" asp-page="/Privacy">Informacje</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
