body {
    background-color: lightgray;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column; /* Change layout to column for vertical stacking */
    justify-content: center;
    align-items: center;
}

.center-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container {
    display: grid;
    gap: 0;
    justify-content: center;
    min-width: max-content;
    align-items: center;
    margin-bottom: 2%;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 100px;
    width: 100px;
    font-size: 16px;
}

    .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.bottom-panels {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Space panels apart */
    margin-top: 20px;
}

.bottom-panels {
    display: flex;
    justify-content: space-between; /* Space out the two panels */
    align-items: flex-start;
    width: 100%;
    padding: 20px 2vw; /* Adjust padding for spacing */
    margin-top: 2%;
    box-sizing: border-box;
}

.left-panel, .right-panel {
    flex: 1; /* Equal width for both panels */
    max-width: 48%; /* Leave some gap between them */
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 25vh; /* Adjust height */
}

.left-panel {
    margin-right: 2%;
}

.right-panel {
    margin-left: 2%;
}

    .left-panel h2, .right-panel h2 {
        margin-bottom: 10px;
    }

    .left-panel form, .right-panel form {
        margin: 0 auto;
    }

    .left-panel input[type="file"], .right-panel button {
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 1rem;
        background-color: darkslateblue;
        color: white;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        .left-panel input[type="file"]:hover, .right-panel button:hover {
            background-color: midnightblue;
            transform: translateY(-3px);
        }

.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .control-panel button {
        background-color: darkslateblue;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px;
        transition: all 0.3s ease;
    }

        .control-panel button:hover {
            background-color: midnightblue;
            transform: translateY(-3px);
        }

header {
    display: flex;
    background-image: linear-gradient(#262626, #0f0f0f);
    align-items: center;
    width: 100%;
}

    header h1 {
        color: darkslateblue;
        font-size: 32px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 1%;
    }

    header nav {
        padding-left: 1.5%;
        font-size: 22px;
        width: 100%;
    }

nav a {
    margin-left: 0.6%;
    color: floralwhite;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    nav a:hover {
        color: grey;
    }

.info-container {
    padding: 1rem;
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .info-container p {
        color: #1a1a1a;
    }

    .info-container img {
        width: 22%;
        height: 22%;
    }

.log-container p {
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1a1a1a;
    font-size: 1.2rem;
}
